.App {
  text-align: center;
  background-color: black;
  margin-bottom: 10px;
}

/* Styling for the header */
.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: black;
  padding: 0 20px;
  position: relative;
}

/* Styling for the logo */
.App-logo {
  max-width: 150px;
}



/* Position the cart icon to the left */
.cart-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.App-link {
  color: #61dafb;
}
